body{
    margin:0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNhcxJj4uy1wF5B-Q_ofmSMTP-o90HtRor7w&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color:lightgoldenrodyellow;
    min-height:80vh;
    position: absolute;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    overflow-y: auto; /* 내용이 넘칠 경우 스크롤 허용 */
    transform: translate(-50%, 0%); /* 좌우 중앙 정렬은 유지하되, 상하 위치 조정 */
    left: 50%;
    top: 10vh; /* 상단으로부터 10vh 만큼 떨어진 위치에 배치 */
    max-width: 400px; /* 모바일 느낌의 최대 너비 */





}

.task-area{
    border:1px solid lightgray;
}

.task-tabs{
    display:flex;
    border-bottom:1px solid lightgray;
    position : relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    height: 4px;
    background-color: greenyellow;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding:2px;
}

.task{
    display:flex;
    justify-content: space-between;
    padding : 1em;
}

.task-done{
    text-decoration : line-through;
}
.task-done div{
    background-color: lightgray;
}

.fa-check {
    color: green;
    cursor: pointer; 
    font-size: 20px; 
}

.fa-trash {
    color: red;
    cursor: pointer; 
    font-size: 20px; 
}



.icon-spacing {
    margin-right: 20px; 
}

.task-tabs div{
    cursor : pointer;
}